<a href="https://colab.research.google.com/github/Whiteheim/WH/blob/main/Dec07_3_Read%26Write.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# 1. CSV파일 읽고 쓰기

# 1-1. 쓰기 (to_csv)

데이터프레임 생성 후 csv 파일에 저장

In [2]:
df = pd.DataFrame({'A':[0, 1, 2], 'B' : [1, 2, 3], 'C' : [4, 5, 6], 'D' : [7, 8, 9]})
df.to_csv('test.csv', index=False)
df

# index=False : 데이터프레임에 자동으로 추가된 인덱스 없이 저장
# header 옵션이 따로 지정되어있지 않으면 첫 행의 데이터가 열의 이름이 됨

   A  B  C  D
0  0  1  4  7
1  1  2  5  8
2  2  3  6  9

# 1-2. 읽기 (read_csv)

In [3]:
df1 = pd.read_csv('test.csv')
df1

   A  B  C  D
0  0  1  4  7
1  1  2  5  8
2  2  3  6  9

In [4]:
df2 = pd.read_csv('test.csv', header=None)
df2

# read_csv() : 첫번째 행을 header(열이름)로 지정해서 불러옴
# 불러올 데이터가 header에 없다면 header=None 설정 해야함

   0  1  2  3
0  A  B  C  D
1  0  1  4  7
2  1  2  5  8
3  2  3  6  9

In [5]:
df3 = pd.read_csv('test.csv', index_col='C')
df3

# index_col : default = None, 새로운 정수 0, 1, 2, ... 를 생성
# index_col = 'C'를 옵션으로 줄 경우, C열을 index로 지정함

   A  B  D
C
4  0  1  7
5  1  2  8
6  2  3  9

In [6]:
df4 = pd.read_csv('test.csv', names=['1열', '2열', '3열', '4열'])
df4
# names=['열이름', '열이름2', ...] 옵션을 통해 열 이름을 따로 설정할 수 있음

  1열 2열 3열 4열
0  A  B  C  D
1  0  1  4  7
2  1  2  5  8
3  2  3  6  9

# 1-3. 다양한 옵션

read_csv()의 다양한 옵션은 Pandas의 공식홈페이지에 상세한 설명이 있음

자주 쓰이는 옵션들 정리 (default 기준)

* sep(',') : 구분자 (자료의 구분 기준 설정)
* header('infer') : 첫 행을 열의 이름으로 설정 
* names : 열의 이름을 list로 입력 가능
* index_col(None) : 특정 열 이름으로 인덱스를 지정
* dtype : 개별 열 or 모든 열의 자료형을 지정
* na_values : 결측값(NaN)으로 인식할 문자 지정
* keep_default_na(True) : 결측값 포함 여부
* na_filter(True) : 결측값 탐색
* skip_blank_lines(True) : 비어있는 줄을 건너뜀 (결측값 판단 x)
* nrow : 읽어올 파일의 행(row)의 수
* ncol : 읽어올 파일의 열(col)의 수